<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBigZhanWcf" />
        <binding name="BasicHttpBinding_ICompanyService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICompanyService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50097/Remote/BigZhanWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBigZhanWcf"
        contract="BigZhanMyWcf.IBigZhanWcf" name="BasicHttpBinding_IBigZhanWcf" />
      <endpoint address="http://localhost:6066/CompanyService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICompanyService" contract="MyCompanyService.ICompanyService"
        name="BasicHttpBinding_ICompanyService" />
      <endpoint address="net.tcp://localhost:6066/SearchService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICompanyService" contract="TcpService.ICompanyService"
        name="NetTcpBinding_ICompanyService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>