<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BigShySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63299/Remote/BigShy.asmx"
                binding="basicHttpBinding" bindingConfiguration="BigShySoap"
                contract="BigZhanTestService.BigShySoap" name="BigShySoap"/>
        </client>
    </system.serviceModel>
</configuration>