<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      
      <container name="apiContainer">
        <extension type="Interception"/>
        <register type="Ruanmou.WebApi.Models.Interface.DbContext,Ruanmou.WebApi" mapTo="Ruanmou.WebApi.Models.Service.advancedDbContext,Ruanmou.WebApi" />
        <register type="Ruanmou.WebApi.Models.Interface.IUserService,Ruanmou.WebApi" mapTo="Ruanmou.WebApi.Models.Service.UserService,Ruanmou.WebApi">
            <interceptor type="InterfaceInterceptor"/>
            <interceptionBehavior type="Ruanmou.WebApi.Models.AOP.LogBeforeBehavior,Ruanmou.WebApi"/>
            <interceptionBehavior type="Ruanmou.WebApi.Models.AOP.LogAfterBehavior, Ruanmou.WebApi"/>
        </register>
      </container>

    </containers>
  </unity>
</configuration>
